/* colors */
$light: #efefef;
$dark: #767676;
$cherry: #e92569;
$black: black;
$blackish: #0a0a0a;
$white: white;
$background-color: #dfdfdf;
$background-color2: #f5f5f5;
$button-color: #c7c7c7;

$theme-colors: (
  "light": $light,
  "dark": $dark,
  "primary": $cherry,
  "secondary": $cherry,
);

$xs: 90%;

$container-max-widths: (
  xs: $xs,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

/* General */
$body-color: $dark;
$navbar-nav-link-padding-x: 20px;
$nav-tabs-link-active-color: $dark;
$nav-tabs-border-radius: 10px;
$navbar-light-color: $blackish;

$carousel-control-transition: none;

/* pagination */
$pagination-color: $cherry;
$pagination-border-color: $cherry;
$pagination-active-border-color: $cherry;
$pagination-hover-color: $cherry;
$pagination-padding-y-lg: 10px;
$pagination-padding-x-lg: 20px;

/* font families */
$font-family-base: "Lato", "sans serif";
$headings-font-family: "Playfair Display', serif";

@import "~bootstrap/scss/bootstrap";

@import "partials/nav";
@import "partials/typography";
@import "partials/index";
@import "partials/news";
@import "partials/contact";
@import "partials/layout";
@import "partials/footer";
