$light: #efefef;
$dark: #767676;
$cherry: #e92569;
$navbar-light-color: #0a0a0a;
$white: white;
$grey: lightgrey;
$paragraph-color: $dark;
$background-color: #efefef;

$theme-colors: (
  "light": $light,
  "dark": $dark,
  "primary": $cherry,
  "secondary": $cherry,
);

$body-bg: $background-color;
$body-color: $paragraph-color;

$font-family-base: "Lato", "sans serif";
$headings-font-family: "Playfair Display', serif";

@import "~bootstrap/scss/bootstrap";

@import "partials/nav";
@import "partials/typography";
@import "partials/index";
@import "partials/news";
@import "partials/contact";
@import "partials/layout";
@import "partials/footer";
