/* top part */

.carousel-indicators [data-bs-target] {
  height: 30px;
  margin: 0 8px;
  opacity: 1;
  background-color: white;
}

.carousel-indicators {
  .active {
    background-color: $cherry;
  }
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* middle part */
/* text */

.textpart {
  margin-bottom: 80px;
}

/* bottom part */
/* tabs */

.tabs__folder {
  background-color: white;
  padding: 30px;
  margin-bottom: 120px;
  border-radius: 0 10px 10px 10px;
}

li {
  .nav-link {
    color: $cherry;
    padding: 10px 31px;
    margin-left: -1px;
  }

  .active {
    background-color: white !important;
    color: $dark !important;
    border-radius: 10px 10px 0 0 !important;
  }
}

.tabs__image {
  width: 238px;
}

.tabs__icon,
.accordion__icon {
  margin: 35px 20px 0 0;
  color: black;
  font-size: 25px;
}

/* accordion */

.accordion {
  margin-bottom: 120px;
}

.colors {
  color: $cherry;
  background-color: $white;
}

.accordion-button:not(.collapsed) {
  @extend .colors;
  border-bottom: 1px solid $cherry;
}

.accordion-button {
  @extend .colors;
}

.accordion__body {
  background-image: radial-gradient(
    circle at center,
    $white,
    $background-color2
  );
}

.accordion__image {
  width: 100%;
}

.accordion__iconholder {
  text-align: center;
}
