.btn-primary {
  color: white;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
}

.card {
  margin-bottom: 30px;
  border-radius: 10px;

  &__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.card-title {
  color: $navbar-light-color;
}
