/* cards */

.card {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px $button-color;

  .card-body {
    width: 90%;
    margin: auto;
  }

  &__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 190px;

    @media (max-width: 990px) {
      height: auto;
    }
  }

  .btn-primary:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 100%;
    background-color: $dark;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@media (max-width: 768px) {
  .card2 {
    display: none;
  }
}

/* pagination */

.page-item.active {
  .page-link {
    background-color: $cherry;
  }
}
